@import "react-alice-carousel/lib/alice-carousel.css";

.carouselItem {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;

}


.carouselItem__img {
    height: 400px;
    cursor: pointer;

}


.carouselItem__txt {
    font-size: 2rem;
}

@media only screen and (max-width: 750px) {
    .carouselItem__img {
        height: 170px;
        cursor: pointer;

    }

    .carouselItem__txt {
        font-size: 0.8rem;
    }
}